/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.num {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.row1 button,
.row5 button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ececec;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ececec;
}

button:hover {
    background-color: #dcdcdc;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-left: 20px;
}

.sidebar button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FFD700;
    color: #fff;
}

.sidebar button:hover {
    background-color: #FFA500;
}
